.dot { /* Bulatan di samping nama */
    height: 15px;
    width: 15px;
    background-color: salmon; /* Warna bulat */
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
}

/* Navbar styles */
.navbar {
    background-color: transparent; /* Background transparan */
    border-bottom: none; /* Garis tipis di bawah navbar */
    padding: 10px 0; /* Padding atas bawah */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem; /* Ukuran nama lebih besar */
    font-weight: bold;
    margin-left: 20px; /* Tambahkan jarak ke kiri */
}

.navbar-brand small {
    font-size: 0.9rem; /* Ukuran jabatan lebih kecil */
    font-weight: normal;
    margin-left: 10px; /* Jarak antara nama dan jabatan */
    color: salmon; /* Warna teks jabatan */
}

/* Navbar Styles */
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000; /* Warna teks hitam */
    font-size: 1rem; /* Ukuran font link */
    padding: 0 15px; /* Jarak antar link */
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 500; /* Sedikit tebal */
    position: relative;
}

/* Garis pemisah antar link */
.nav-link::after {
    color: #000; /* Warna garis */
    position: absolute;
    right: -10px; /* Posisi garis di kanan */
    top: 0;
}

/* Hover effect */
.nav-link:hover {
    color: #007bff; /* Warna biru saat hover */
}

/* Header Section */
.header-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.header-section p.lead {
    font-size: 1.25rem;
    font-weight: 500;
}

.header-section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* animasi */
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* animasi untuk image */
.header-section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: slideInUp 1.5s ease-out;
}
